<ion-header>
  <ion-navbar>
    <ion-title>
     Todo App
    </ion-title>
    <ion-buttons end>
      <button (click)="add()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="todos">
 <ion-list>
   <ion-item-sliding *ngFor="let todo of todoList; let i = index">
     <ion-item>
       <h2>{{todo}}</h2>
     </ion-item>
     <ion-item-options>
       <button danger (click)="delete(i)">
         <ion-icon name="trash"></ion-icon>
       </button>
     </ion-item-options>
   </ion-item-sliding>
 </ion-list>
</ion-content>
