<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Task</ion-title>
  </ion-navbar>
  <ion-buttons end>
    <button (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-buttons>
</ion-header>


<ion-content class="add">
  <ion-list>
    <ion-item>
      <ion-label floating>Task : </ion-label>
      <ion-input type="text" [(ngModel)]="todoItem"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
